<!DOCTYPE html>
<html>
<head>
    <title>About - Loan Predictor App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>

    <h1>About Us</h1>
    <p>I am Mantej Singh Sohi, a student of IIT Kharagpur, currently pursuing my B.Tech in Agricultural and Food Engineering.</p>
    <p>This app is developed as a Loan Predictor Tool using Machine Learning.</p>
    <p>GitHub: <a href="https://github.com/MantejSinghSohi">https://github.com/MantejSinghSohi</a></p>
    <p>Email: mantejsohi2005@kgpian.iitkgp.ac.in</p>
</body>
</html> 